<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new blog</title>

</head>
<body>

<form action="/home/createblog" method="post">
    <div class="form-group">
      <label for="topic">Topic</label>
      <input  class="form-control" id="topic" aria-describedby="emailHelp" name="topic" placeholder="Enter topic" >
      <small id="topicHelp" class="form-text text-muted">keep it small</small>
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input  class="form-control" id="title" name="title" placeholder="enter titile">
    </div>
    <div class="form-group">
            <label for="author">Author</label>
            <input  class="form-control" id="author" name="authorn" placeholder="enter author">
     </div>
     <div class="form-group">
            <label for="description">description</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
          </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>






</body>
</html>