<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog page task</title>
</head>
<body>
 <div class="top box" >
        <button type="button" class="btn btn-secondary btn-lg btn-block">
                <a href="/home/createblog" class="btn btn-secondary">CREATE BLOG</a>
                <a href="/users/logout" class="btn btn-secondary">LOGOUT</a>
        </button>
               
        
    
 </div>









</body>
</html>